.Rproj.user
.Rhistory
.RData
.Ruserdata
input/2020/Bases_EPS2020_presencial/01_Vivos presencial/MODULO_A_Carreras_in.dta
input/2020/Bases_EPS2020_presencial/01_Vivos presencial/MODULO_A_Entrevistado_in.dta
input/2020/Bases_EPS2020_presencial/01_Vivos presencial/MODULO_B_Historia_Laboral_antes_2016_in.dta
input/2020/Bases_EPS2020_presencial/01_Vivos presencial/MODULO_B_Historia_Laboral_in.dta
input/2020/Bases_EPS2020_presencial/01_Vivos presencial/MODULO_B_Situacion_Actual_in.dta
input/2020/Bases_EPS2020_presencial/01_Vivos presencial/MODULO_C_Entrevistado_in.dta
input/2020/Bases_EPS2020_presencial/01_Vivos presencial/MODULO_D_Entrevistado_in.dta
input/2020/Bases_EPS2020_presencial/01_Vivos presencial/MODULO_E_Entrevistado_in.dta
input/2020/Bases_EPS2020_presencial/01_Vivos presencial/MODULO_F_Entrevistado_in.dta
input/2020/Bases_EPS2020_presencial/01_Vivos presencial/MODULO_G_Entrevistado_in.dta
input/2020/Bases_EPS2020_presencial/01_Vivos presencial/MODULO_Hogar_in.dta
input/2020/Bases_EPS2020_presencial/01_Vivos presencial/MODULO_I_Entrevistado_in.dta
input/2020/Bases_EPS2020_presencial/01_Vivos presencial/MODULO_I_Hijos_in.dta
input/2020/Bases_EPS2020_presencial/01_Vivos presencial/MODULO_I_Parejas_in.dta
input/2020/Bases_EPS2020_presencial/01_Vivos presencial/MODULO_J_Entrevistado_in.dta
input/2020/Bases_EPS2020_presencial/01_Vivos presencial/MODULO_Q_Entrevistado_in.dta
input/2020/Bases_EPS2020_presencial/02 Libro_de_codigos_Presencial_Fallecido.xlsx
input/2020/Bases_EPS2020_presencial/02_Fallecidos presencial/MODULO_M_Historia_Laboral_in.dta
input/2020/Bases_EPS2020_presencial/02_Fallecidos presencial/MODULO_M_in.dta
input/2020/Bases_EPS2020_presencial/03 Libro_de_codigo_Presencial_Impedido.xlsx
input/2020/Bases_EPS2020_presencial/03_Impedidos presencial/MODULO_P_Historia_Laboral_in.dta
input/2020/Bases_EPS2020_presencial/03_Impedidos presencial/MODULO_P_in.dta
input/2020/Documentos EPS 2020/Cuestionarios EPS VII Ronda/EPS CONTINUIDAD FALLECIDOS.pdf
input/2020/Documentos EPS 2020/Cuestionarios EPS VII Ronda/EPS CONTINUIDAD IMPEDIDOS.pdf
input/2020/Documentos EPS 2020/Cuestionarios EPS VII Ronda/EPS CONTINUIDAD VIVOS.pdf
input/2020/Documentos EPS 2020/Cuestionarios EPS VII Ronda/EPS PRESENCIAL FALLECIDOS.pdf
input/2020/Documentos EPS 2020/Cuestionarios EPS VII Ronda/EPS PRESENCIAL IMPEDIDOS.pdf
input/2020/Documentos EPS 2020/Cuestionarios EPS VII Ronda/EPS REENTREVISTA IMPEDIDOS.pdf
input/2020/Documentos EPS 2020/Cuestionarios EPS VII Ronda/EPS REENTREVISTA VIVOS.pdf
input/2020/Documentos EPS 2020/Cuestionarios EPS VII Ronda/EPS_REENTREVISTA_FALLECIDO.pdf
input/2020/ponderador/Factor_Panel_EPS_CONT_2002_in.dta
input/2020/ponderador/Factor_Panel_EPS_CONT_2004_in.dta
input/2020/ponderador/Factor_Panel_EPS_CONT_2015_in.dta
input/2020/ponderador/Factor_Panel_EPS_PRES_2002_in.dta
input/2020/ponderador/Factor_Panel_EPS_PRES_2004_in.dta
input/2020/ponderador/Factor_Panel_EPS_PRES_2015_in.dta
input/2020/ponderador/Factor_Panel_EPS_RE_in.dta
input/2020/ponderador/Factor_XS_EPS_CONT_in.dta
input/2020/ponderador/Factor_XS_EPS_PRES_in.dta
input/2020/ponderador/Factor_XS_EPS_RE_in.dta
